<section class="bg--secondary space--sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="boxed boxed--lg boxed--border">
          <div class="text-block text-center">
            <% if @user.image %>
              <img alt="avatar" src="<%= @user.image %>" class="image--sm" />
            <% end %>
            <span class="h5"><%= @user.first_name %> <%= @user.last_name %></span>
            <span><%= @user.biography %></span>
            <% if @user.is_admin? %>
              <span class="label">Admin</span>
            <% end %>
                    </div>
                    <hr>
                    <div class="text-block">
                        <ul class="menu-vertical">
                            <li>
                                <a href="page-accounts-settings.html#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-profile;hidden">Profile</a>
                            </li>
                            <li>
                                <a href="page-accounts-settings.html#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-notifications;hidden">Email Notifications</a>
                            </li>
                            <li>
                                <a href="page-accounts-settings.html#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-billing;hidden">Billing Details</a>
                            </li>
                            <li>
                                <a href="page-accounts-settings.html#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-password;hidden">Password</a>
                            </li>
                            <li>
                                <a href="page-accounts-settings.html#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-delete;hidden">Delete Account</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="boxed boxed--lg boxed--border">
                    <div id="account-profile" class="account-tab">
                        <h4>Profile</h4>
                        <%= form_with(model: @user, local: true) do |form| %>
                          <% if @user.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this meal from being saved:</h2>

                              <ul>
                              <% @user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>First Name:</label>
                                    <%= form.text_field :first_name, id: :first_name, class: "form-control",
                                  placeholder: "", autofocus: true %>
                                </div>
                                <div class="col-md-6">
                                    <label>Last Name:</label>
                                    <%= form.text_field :last_name, id: :last_name, class: "form-control",
                                  placeholder: "", autofocus: true %>
                                </div>
                                <div class="col-md-12">
                                    <label>Username:</label>
                                    <%= form.text_field :username, id: :username, class: "form-control",
                                  placeholder: "", autofocus: true %>
                                </div>
                                <div class="col-md-12">
                                    <label>Email Address:</label>
                                    <%= form.text_field :email, id: :email, class: "form-control",
                                  placeholder: "", autofocus: true %>
                                </div>
                                <div class="col-md-12">
                                    <label>Website:</label>
                                    <%= form.text_field :website, id: :website, class: "form-control",
                                  placeholder: "", autofocus: true %>
                                </div>
                                <div class="col-md-12">
                                    <label>Biography:</label>
                                    <%= form.text_area :biography, id: :biography, rows: 4, class: "form-control",
                                    placeholder: "",
                                    autofocus: true %>
                                </div>
                                <div class="col-md-12">
                                    <label>Goal:</label>
                                    <%= form.text_area :goal, id: :goal, rows: 4, class: "form-control",
                                    placeholder: "",
                                    autofocus: true %>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-checkbox input-checkbox--switch">
                                        <input type="checkbox" name="public-profile" />
                                        <label></label>
                                    </div>
                                    <span>Allow my profile to be viewable by guests</span>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <%= form.submit 'Save Profile →', class: "btn btn-outline-dark float-right" %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                    <div id="account-notifications" class="hidden account-tab">
                        <h4>Email Notifications</h4>
                        <p>Select the frequency with which you'd like to recieve product summary emails:</p>
                        <form>
                            <div class="boxed bg--secondary boxed--border row">
                                <div class="col-4 text-center">
                                    <div class="input-radio">
                                        <span>Never</span>
                                        <input type="radio" name="frequency" value="never" class="validate-required" />
                                        <label></label>
                                    </div>
                                </div>
                                <div class="col-4 text-center">
                                    <div class="input-radio checked">
                                        <span>Weekly</span>
                                        <input type="radio" name="frequency" value="weekly" class="validate-required" />
                                        <label></label>
                                    </div>
                                </div>
                                <div class="col-4 text-center">
                                    <div class="input-radio">
                                        <span>Monthly</span>
                                        <input type="radio" name="frequency" value="monthly" class="validate-required" />
                                        <label></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-5">
                                    <button type="submit" class="btn btn--primary type--uppercase">Save Preferences</button>
                                </div>
                            </div>
                            <!--end of row-->
                        </form>
                    </div>
                    <div id="account-billing" class="hidden account-tab">
                        <h4>Billing Details</h4>
                        <div class="boxed boxed--border bg--secondary">
                            <h5>Payment Methods</h5>
                            <hr>
                            <form>
                                <ul>
                                    <li class="row">
                                        <div class="col-md-6">
                                            <p>
                                                <i class="material-icons">credit_card</i>
                                                <span> Mastercard ending in
                                                    <strong>4722</strong>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col-md-3 text-right text-left-xs">
                                            <button type="submit" class="btn bg--error">Remove</button>
                                        </div>
                                        <div class="col-md-3 text-right text-left-xs">
                                            <button type="submit" class="btn">Edit</button>
                                        </div>
                                    </li>
                                </ul>
                                <hr>
                                <button type="submit" class="btn">Add New Method</button>
                            </form>
                        </div>
                    </div>
                    <div id="account-password" class="hidden account-tab">
                        <h4>Password</h4>
                        <p>Passwords must be at least 6 characters in length.</p>
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <label>Old Password:</label>
                                    <input type="password" name="old-password" />
                                </div>
                                <div class="col-md-6">
                                    <label>New Password:</label>
                                    <input type="password" name="new-password" />
                                </div>
                                <div class="col-md-6">
                                    <label>Retype New Password:</label>
                                    <input type="password" name="new-password-confirm" />
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <button type="submit" class="btn btn--primary type--uppercase">Save Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="account-delete" class="hidden account-tab">
                        <h4>Delete Account</h4>
                        <p>Permanently remove your account using the button below. Warning, this action is permanent.</p>
                        <form>
                            <button type="submit" class="btn bg--error type--uppercase">Delete Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
