<section class="height-90">
  <div class="container pos-vertical-center">
      <div class="row justify-content-center">
          <div class="col-md-12 col-lg-8">
              <div class="wizard bg--white">
                  <h5>Welcome</h5>
                  <section class="text-center">
                      <div class="pos-vertical-center">
                        <%= image_tag("art-2.jpg") %>


                          <h4>Welcome, let's go over the basics!</h4>
                          <p class="type--fade type--fine-print">
                              * Use the next button, or your keyboard arrows to advance
                          </p>
                      </div>
                  </section>
                  <h5>Media</h5>
                  <section class="text-center">
                      <div class="pos-vertical-center">
                        <%= image_tag("art-3.jpg") %>

                          <h4>Add your own media using the media browser.</h4>
                          <p class="type--fade type--fine-print">
                              * Use the sidebar and click "Add Media"
                          </p>
                      </div>
                  </section>
                  <h5>Device Guide</h5>
                  <section class="text-center">
                      <div class="pos-vertical-center">
                          <%= image_tag("art-4.jpg") %>
                          <h4>Test your site on different devices using Device Guide</h4>
                          <p class="type--fade type--fine-print">
                              * The device guide is located in the sidebar
                          </p>
                      </div>
                  </section>
                  <h5>Begin</h5>
                  <section class="text-center">
                      <div class="pos-vertical-center">
                          <%= image_tag("art-5.png") %>
                          <h4>You're all set — Click 'Finish' to get started</h4>
                          <p class="type--fade type--fine-print">
                              * Find more help articles under "Help" in the sidebar
                          </p>
                          <%= link_to 'Get started', edit_user_path(current_user), class: 'btn btn--primary text-white' %>
                      </div>
                  </section>
              </div>
          </div>
      </div>
  </div>
</section>
