<section class="height-100 text-center">
  <div class="container pos-vertical-center">
      <div class="row">
          <div class="col-md-7 col-lg-5">
              <h2><%= t('.forgot_your_password') %></h2>
              <p class="lead">
                  Enter email address to send a recovery email.
              </p>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= bootstrap_devise_error_messages! %>
                  <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
                  <%= f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary' %>
              <% end %>
              <span class="type--fine-print block">
                <%= render 'devise/shared/links' %>
              </span>
          </div>
      </div>
  </div>
</section>
