<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Liquids</h1>
        <%= link_to 'Add new liquid', new_liquid_path, class: "btn btn--primary text-white" %>
      </div>
    </div>
  </div>
</section>
<section class="bg--secondary">
  <div class="container">
    <div class="row">
      <% @liquids.each do |liquid| %>
        <div class="col-md-4">

            <div class="feature feature-1 boxed boxed--border">
              <h4><%= liquid.liquid_category.name %></h4>
              <p><%= liquid.name %></p>
              <p class="mb-4"><%= liquid.glass_count %> Glasses</p>
              <a href="<%= liquid_path(liquid) %>" class="btn btn--sm">View</a>
            </div>

        </div>
      <% end %>
    </div>
  </div>
</section>
