<section class="cover unpad--bottom switchable switchable--switch bg--secondary text-center-xs">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-md-6 col-lg-5 mt-0">
        <h1>Mealtrackr</h1>
        <p class="lead">Dramatically improve your mood, focus, skin and sleeping patten by getting access to the data on how what you eat affects you, physically & psychologically</p>
        <a class="btn btn--primary type--uppercase" href="<%= new_user_registration_path %>">
        <span class="btn__text">
                                    Signup, free
                                </span>
                            </a>
                            <span class="block type--fine-print">or
                                <a href="#">view demo</a>
                            </span>
                        </div>
                        <div class="col-md-6">
                            <%= image_tag("avatar-large-3.png") %>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Pantone icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Highly Customizable</h5>
                                    <p>
                                        Stack's visual style is simple yet distinct. Perfect for your next project whether it be a basic marketing site, or multi-page company presence.
                                    </p>
                                    <a href="home-landing-2.html#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Fingerprint icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Built For Startups</h5>
                                    <p>
                                        Launching an attractive website quickly and affordably is important for modern startups &mdash; Stack offers massive value with high-end styling.
                                    </p>
                                    <a href="home-landing-2.html#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border">
                                <span class="label">Free</span>
                                <i class="icon icon-Duplicate-Window icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Page Builder Included</h5>
                                    <p>
                                        Construct mockups or production-ready pages in-browser with Variant Page Builder &mdash; Included FREE with every license purchase.
                                    </p>
                                    <a href="home-landing-2.html#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature feature-5 boxed boxed--lg boxed--border">
                                <i class="icon icon-Life-Safer icon--lg"></i>
                                <div class="feature__body">
                                    <h5>Friendly Support</h5>
                                    <p>
                                        You'll love the comfort that comes with six-months free support. Our dedicated support forum makes support hassle-free and efficient.
                                    </p>
                                    <a href="home-landing-2.html#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable bg--secondary">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-8 col-lg-7">
                            <h2>How and why it works</h2>
                            <p class="lead">
                                Stack offers a clean and contemporary look to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner.
                            </p>
                            <p class="lead">
                                Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away &mdash; Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple.
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <div class="text-block">
                                <h5>Global</h5>
                                <p>
                                    enquiries@stackconstruction.net
                                </p>
                            </div>
                            <div class="text-block">
                                <h5>Melbourne</h5>
                                <p>
                                    Rialto Building
                                    <br /> 200 Bourke Street
                                    <br /> Melbourne, Victoria
                                </p>
                            </div>
                            <div class="text-block">
                                <h5>Sydney</h5>
                                <p>
                                    Suite 102
                                    <br /> 364 Malvern Road
                                    <br /> Armadale, Victoria
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Simply, what matters most</h2>
                            <p class="lead">
                                Working with the industries best and brightest minds to deliver outstanding results
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-12">
                            <div class="feature">
                                <div class="radial" data-value="33" data-size="208" data-bar-width="8" data-color="#4a90e2">
                                    <span class="h3 radial__label">Mood</span>
                                </div>
                                <!--end radial-->
                                <p>
                                    Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or just starting out.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="feature">
                                <div class="radial" data-value="66" data-size="208" data-bar-width="8" data-color="#4a90e2">
                                    <span class="h3 radial__label">Pain</span>
                                </div>
                                <!--end radial-->
                                <p>
                                    Select from over 270 interface blocks, customise the look to build your perfect page.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="feature">
                                <div class="radial" data-value="66" data-size="208" data-bar-width="8" data-color="#4a90e2">
                                    <span class="h3 radial__label">Focus</span>
                                </div>
                                <!--end radial-->
                                <p>
                                    Select from over 270 interface blocks, customise the look to build your perfect page.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="feature">
                                <div class="radial" data-value="100" data-size="208" data-bar-width="8" data-color="#4a90e2">
                                    <span class="h3 radial__label">Sleep</span>
                                </div>
                                <!--end radial-->
                                <p>
                                    Download your page as a semantic HTML document and easily make further customisations and additions in your editor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


            <section class="imageblock switchable feature-large bg--dark">
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                    <div class="background-image-holder">
                        <%= image_tag("construction-2.jpg") %>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2>Share insights</h2>
                            <p class="lead">
                                Give access to your personal trainer or GP to get expert advice
                            </p>
                            <p class="lead">
                                Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away &mdash; Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


            <section class="cover height-80 imagebg text-center" data-overlay="6">
                <div class="background-image-holder">
                    <%= image_tag("inner-5.jpg") %>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="h1">Customers love Stack's robust and modern design</span>
                            <p class="lead">
                                Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away.
                            </p>
                            <div class="modal-instance block">
                                <div class="video-play-icon video-play-icon--sm modal-trigger"></div>
                                <span>
                                    <strong>See Stack in action</strong>&nbsp;&nbsp;&nbsp;104 Seconds</span>
                                <div class="modal-container">
                                    <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                                        <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                                    </div>
                                    <!--end of modal-content-->
                                </div>
                                <!--end of modal-container-->
                            </div>
                            <!--end of modal instance-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Discover why health and fitness professionals recommend Mealtrackr</h2>
                            <p class="lead">
                                GP's, Personal Trainers, coaches and most importantly our clents recommend Mealtrackr...
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-inline list-inline--images">
                                <li>
                                    <%= image_tag("partner-1.png") %>
                                </li>
                                <li>
                                    <%= image_tag("partner-5.png") %>
                                </li>
                                <li>
                                    <%= image_tag("partner-7.png") %>
                                </li>
                                <li>
                                    <%= image_tag("partner-4.png") %>
                                </li>
                                <li>
                                    <%= image_tag("partner-6.png") %>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-10 col-lg-8">
                            <h2>Build perfect pages, easy as pie.</h2>
                            <p class="lead">
                                Whether you’re building a welcome mat for your SaaS or a clean, corporate portfolio, Stack has your design needs covered.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable bg--secondary">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6 text-center">
                            <div class="video-cover border--round box-shadow-wide">
                                <div class="background-image-holder">
                                    <img alt="image" src="img/recruitment-4.jpg" />
                                </div>
                                <div class="video-play-icon"></div>
                                <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end video cover-->
                            <span>Variant Page Builder &mdash; used by over
                                <strong>17,000</strong> customers
                                <a target="_blank" href="variant/builder.html">Try Now &nearr;</a>
                            </span>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <ol class="process-3">
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>1</span>
                                    </div>
                                    <div class="process__body">
                                        <h4>Launch Variant Page Builder</h4>
                                        <p>
                                            Stack is built with customization and ease-of-use at its core — whether you're a seasoned developer or just starting out.
                                        </p>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>2</span>
                                    </div>
                                    <div class="process__body">
                                        <h4>Build with interface blocks</h4>
                                        <p>
                                            Select from over 290 interface blocks, customise the look to build your perfect page.
                                        </p>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>3</span>
                                    </div>
                                    <div class="process__body">
                                        <h4>Export as pure HTML</h4>
                                        <p>
                                            Download your page as a semantic HTML document and easily make further customisations and additions in your editor.
                                        </p>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class=" ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="slider slider--inline-arrows" data-arrows="true">
                                <ul class="slides">
                                    <li>
                                        <div class="testimonial row justify-content-center">
                                            <div class="col-lg-2 col-md-4 col-6 text-center">
                                                <img class="testimonial__image" alt="Image" src="<%= asset_path('avatar-round-1.png') %>" />
                                            </div>
                                            <div class="col-lg-7 col-md-8 col-12">
                                                <span class="h3">&ldquo;We’ve been using Stack to prototype designs quickly and efficiently. Needless to say we’re hugely impressed by the style and value.&rdquo;
                                                </span>
                                                <h5>Maguerite Holland</h5>
                                                <span>Interface Designer &mdash; Yoke</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="testimonial row justify-content-center">
                                            <div class="col-lg-2 col-md-4 col-6 text-center">
                                                <img class="testimonial__image" alt="Image" src="<%= asset_path('avatar-round-4.png') %>" />
                                            </div>
                                            <div class="col-lg-7 col-md-8 col-12">
                                                <span class="h3">&ldquo;I've been using Medium Rare's templates for a couple of years now and Stack is without a doubt their best work yet. It's fast, performant and absolutely stunning.&rdquo;
                                                </span>
                                                <h5>Lucas Nguyen</h5>
                                                <span>Freelance Designer</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="testimonial row justify-content-center">
                                            <div class="col-lg-2 col-md-4 col-6 text-center">
                                                <img class="testimonial__image" alt="Image" src="<%= asset_path('avatar-round-3.png') %>" />
                                            </div>
                                            <div class="col-lg-7 col-md-8 col-12">
                                                <span class="h3">&ldquo;Variant has been a massive plus for my workflow &mdash; I can now get live mockups out in a matter of hours, my clients really love it.&rdquo;
                                                </span>
                                                <h5>Rob Vasquez</h5>
                                                <span>Interface Designer &mdash; Yoke</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center imagebg" data-gradient-bg='#4876BD,#5448BD,#8F48BD,#BD48B1'>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="cta">
                                <h2>Purchase Stack now and get lifetime free content updates</h2>
                                <p class="lead">
                                    Each purchase of Stack comes with six months free support &mdash; and a lifetime of free content and bug-fix updates.
                                </p>
                                <a class="btn btn--primary type--uppercase" href="<%= new_user_registration_path %>">
                                    <span class="btn__text">
                                        Signup
                                    </span>
                                    <span class="label">Free</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
