<%= form_with(model: @meal, local: true) do |form| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% @meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <h3 class="col-sm-4 col-form-label">Title</h3>
    <div class="col">
      <%= form.text_field :title, id: :meal_title, class: "form-control",
    placeholder: "", autofocus: true %>
    </div>
  </div>

  <div class="form-group row">
    <p class="col-sm-4 col-form-label">Time of day</p>
    <div class="col">
      <%= form.select :meal_type, ['Breakfast', 'Lunch', 'Snack', 'Dinner', 'Late Snack'] %>
    </div>
  </div>

  <div class="form-group row">
    <p class="col-sm-4 col-form-label">Notes</p>
    <div class="col">
      <%= form.text_area :notes, id: :notes, rows: 5, class: "form-control",
      placeholder: "",
      autofocus: true %>
    </div>
  </div>

  <div class="form-group row">
    <p class="col-sm-4 col-form-label">Foods</p>
    <div class="col">
      <%= form.collection_check_boxes :food_ids, Food.all, :id, :title do |cb| %>
        <div class="col-md-3 col-6 text-center">
          <span class="block"><%= cb.text %></span>
          <div class="input-checkbox">
            <%= cb.check_box  %>
            <label></label>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="actions mt-5">
    <%= form.submit 'Submit →', class: "btn btn-outline-dark float-right" %>
    <%= link_to 'Dashboard', dashboard_path %>
    <% if @meal.title %>
     | <%= link_to 'New', new_meal_path %> |
      <%= link_to 'View', @meal %> |
      <%# link_to 'Delete', meal_path(@meal), class: "danger" , method: :delete, data: {confirm: "Are you sure you want to delete the meal?"} %>
    <% end %>
  </div>
<% end %>
