<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Meals</h1>
      </div>
      <div class="col-md-6">
        <%= link_to 'Add meal', new_meal_path, class: "btn btn--primary type--uppercase text-white float-right" %>
      </div>
    </div>
  </div>
</section>
<!--
<section class="text-center">
  <div class="container">
    <div class="row">


      go through the meals
      find all the foods attached to each meal

      go through foods
      find the food item
      give me the food category by date
      show when that food item has come up by date



      <% meals = @meals.select(:id, :created_at) %>
      <% foods = FoodItem.where(meal_id: @meals).pluck(:food_id) %>
      <% user_food_categories = Food.where(id: foods).select(:id, :title) %>
      <% user_food_categories.each do |food_category| %>
        <% food_category.title %><br>
      <% end %>

<%# bar_chart [
  food_categories

  ] %>

      <%# [FoodCategory.where(id: @meals[0].food_items[0][:food_id])] %>
      <div class="col-md-10 col-lg-8">
        <%# area_chart [
          # name: "Mood", data: @user.feelings.group(:created_at).sum(:mood_rating)



          {name: "Food " FoodCategory.where(id: @meals[0].food_items[0][:food_id]).name, data: FoodCategory.where(id: @meals[0].food_items[0][:food_id])},
          {name: "Sleep", data: User.group_by_day(:created_at).count},
          {name: "Pain", data: User.group_by_day(:created_at).count},
          {name: "Alcoholic Drinks", data: User.group_by_day(:created_at).count},
          {name: "Soft Drinks", data: User.group_by_day(:created_at).count},
          {name: "New Profiles", data: Meal.group_by_day(:created_at).count}
          ] %>
      </div>
    </div>
  </div>
</section>   -->

<section class="bg--secondary">
  <div class="container">
    <div class="row">
      <% @meals.each do |meal| %>
        <div class="col-md-4">
          <div class="feature feature-1">
            <img alt="Image" src="<%= asset_path('inner-5.jpg') %>" />
            <div class="feature__body boxed boxed--lg boxed--border">
              <small><%= meal.created_at.strftime("%m/%d/%Y") %></small>
              <h3 class="mb-0"><%= meal.title %></h3>              
              <p class="mb-4"><%# meal.notes.truncate(160) %></p>
              <ul>
                <% meal.foods.each do |food| %>
                  <span class="badge badge-primary"><%= food.title %></span>
                <% end %>
              </ul>
              <a href="<%= meal_path(meal) %>" class="btn btn--sm btn-block">View &rarr;</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
