<%= form_with(model: @food, local: true) do |form| %>
  <% if @food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% @food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, id: :food_title, class: "form-control",
    placeholder: "Title", autofocus: true, autocomplete: "off" %>
  </div>

  <div class="form-group">
    <%= form.text_area :description, id: :description, rows: 5, class: "form-control",
    placeholder: "",
    autofocus: true %>
  </div>

  <div class="form-group">
    <%= form.text_field :image, id: :image, class: "form-control",
    placeholder: "image", autofocus: true, autocomplete: "off" %>
  </div>
  <div class="form-group">
    <%= form.text_field :colour, id: :colour, class: "form-control",
    placeholder: "colour", autofocus: true, autocomplete: "off" %>
  </div>



  <div class="row">

      <%= form.collection_radio_buttons(:food_category_id, FoodCategory.all, :id, :name) do |b| %>
        <div class="col-md-4">
          <div class="input-radio">
            <span class="input__label"><%= b.text %></span>
            <%= b.radio_button %>
            <%= b.label { b.radio_button(class: "radio_button") }  %>
          </div>
        </div>
      <% end %>

  </div>


  <div class="actions mt-5">
    <%= link_to 'Dashboard', dashboard_path %>
    <% if @food.title %>
     | <%= link_to 'New', new_food_path %> |
      <%= link_to 'View', @food %> |
      <%# link_to 'Delete', food_path(@food), class: "danger" , method: :delete, data: {confirm: "Are you sure you want to delete the food?"} %>
    <% end %>
    <%= form.submit 'Submit →', class: "btn btn-outline-dark float-right" %>
  </div>
<% end %>
