<div class="nav-container ">
  <div class="bar bar--sm visible-xs">
    <div class="container">
      <div class="row">
        <div class="col-3 col-md-2">
          <a href="/">
            <%= image_tag("logo-dark.png", :alt => "logo", :class => "logo logo-dark") %>
            <%= image_tag("logo-light.png", :alt => "logo", :class => "logo logo-light") %>
          </a>
        </div>
        <div class="col-9 col-md-10 text-right">
          <a href="/" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
            <i class="icon icon--sm stack-interface stack-menu"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <nav id="menu1" class="bar bar--sm bar-1 hidden-xs bg--dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-md-2 hidden-xs">
          <div class="bar__module">
            <a href="/">
              <%= image_tag("logo-dark.png", :alt => "logo", :class => "logo logo-dark") %>
              <%= image_tag("logo-light.png", :alt => "logo", :class => "logo logo-light") %>
            </a>
          </div>
        </div>
        <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
          <div class="bar__module">
            <ul class="menu-horizontal text-left">
              <li><%= link_to 'Home', root_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to 'Dashboard', dashboard_path %></li>
                <li><%= link_to 'Feeling', feelings_path %></li>
                <li><%= link_to 'Meals', meals_path %></li>
                <li><%= link_to 'Liquids', liquids_path %></li>
                <li><%= link_to 'Foods', foods_path %></li>
                <li>-</li>

                <li><%= link_to 'Users', users_path %></li>
                <li><%= link_to 'Food Categories', food_categories_path %></li>
                <li><%= link_to 'Liquid Categories', liquid_categories_path %></li>
                <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>

              <% else %>
                <li><%= link_to 'About', root_path %></li>
                <li><%= link_to 'FAQ', root_path %></li>
                <li><%= link_to 'Contact', root_path %></li>
              <% end %>
            </ul>
          </div>
          <div class="bar__module">
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, class: 'btn btn--sm type--uppercase text-white', title: 'Logout', :method => :delete) %>
            <% else %>
              <a class="btn btn--sm type--uppercase" href="<%= new_user_session_path %>">
                <span class="btn__text">
                  Sign In
                </span>
              </a>
              <a class="btn btn--sm btn--primary type--uppercase" href="<%= new_user_registration_path %>">
                <span class="btn__text">
                  Sign up
                </span>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
